@font-face {
    font-family: 'terminal_grotesque';
    src: url('../font/terminal-grotesque.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: black;
}

#root{
    display: flex;
    flex-direction: row;
    font-family: 'terminal_grotesque', Arial ;
    color: white;
}

.game{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#buttons{
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;;
    padding: 10px;
    background-color: lightgray;
    position: relative;
    border: 5px solid #1a1a1a;
    box-sizing: border-box;
    top: -8px;
    transform: rotateX(20deg);

}

